
body {
    width: 100%;
    height: 100%;
    margin: 10mm auto;
    background-color: #FAFAFA;
    font-family: "Open Sans";
    font-size: 12px;
}

.page {
    width: 210mm;
    min-height: 297mm;
    margin: 10mm auto;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    border-radius: 5px;
    background: white;
}


@page {
    size: A4;
    margin: 30mm 45mm 30mm 45mm;
}

@media print {
    html, body {
        width: 210mm;
        height: 297mm;    
        /* margin: 30mm 45mm 30mm 45mm;      */
    }
    .page {
        margin: 30mm 45mm 30mm 45mm;   
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}




.header {
    display: -webkit-flex;
    display: flex;  
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    
    padding: 0px 10px;
    /* border: 2px solid grey; */
    background-color: white;
    /* margin: 15px 15px 0px 15px; */
}
.flex-heading{
    display: -webkit-flex;
    display: flex;  
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-self: flex-end;
    padding: 0px 10px;
    background-color: #d5f2fd;
    /* border: 2px solid grey; */
}

.header > div {
    width: 10px;
    margin: 5px;
    margin-left: 10px;
    margin-right: auto;   
  }



#header-text {
    font-size: 10px;
    text-align: left;
    color: black;
    padding: 0px;
    align-self: flex-end;
    font-weight: normal;
}

#title {
    font-size: 15px;
    text-align: center;
    color: black;
    margin-left: 10px;
}

h1 { 
    font-family: "Merriweather"; 
    font-size: 50px; 
    font-style: normal; 
    font-variant: bolder; 
    font-weight: 700; 
    line-height: 26.4px; 
}

.initial-data {
    display: -webkit-flex;
    display: flex;  
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    /* align-items: center; */
    padding: 2px 5px;
    background-color: #d5f2fd;
    /* margin: 15px 15px 0px 15px; */
    margin-left: 30px;
    margin-right: 30px;
}

.initial-data > div {
    font-weight: bold;
    font-size: 12px;
}

.section {
    margin: 20px 20px 5px 25px;

    padding: 5px;
    border:0px solid #ffffff;
}

.section-heading{
    font-family: "Merriweather";
    font-size: 16px;
}

table {
    border: 0px solid #ffffff;
    margin: 0 auto;
    font-size: 12px;
    width: 100%;

}

.col-head {
    font-weight: bold;

}