body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    font: 12pt "Tahoma";
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.page {
    width: 210mm;
    min-height: 297mm;
    padding: 0mm;
    margin: 0mm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}


@page {
    size: A4;
    margin: 0;
}
@media print {
    html, body {
        width: 210mm;
        height: 297mm;        
    }
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}

.header {
    padding: 60px;
    text-align: center;
    background: #006891;
    color: white;
    font-size: 30px;
    top: 0;  
    width: 100%; 
  }


.flex-container {
    display: -webkit-flex;
    display: flex;  
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 0px 4px;
}

.flex-container > div {
    width: 100px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #73AD21;
    
  }

#header-text {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: white;
    padding: 0px;
}